/* gallery */
.gallery2{
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;

  gap:18px;
  padding:28px;
 position: relative;
  overflow: hidden;
}
.gallery2 figure{
  margin:0;
  background: linear-gradient(180deg, rgba(101, 98, 112, 0.068), rgba(77, 66, 129, 0.006));
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
  width: 240px;
  
  transition: transform .15s ease, box-shadow .15s ease;
}
.gallery2 figure:hover{ 
    transform: translateY(-6px); 
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);
}
.gallery2 img{
    display:block;
    width:100%;
    height:350px;
    object-fit:cover;
}
.gallery2 figcaption{
    
  padding:10px 12px;
  font-weight:600;
  color:var(--white);         
  background: var(--surface);
  font-size:14px;
  margin-top:auto;

}

/* steps */

main{
    display: flex;
    flex:1;
    overflow:hidden;
}
.booking{
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #7765fa;
    padding:10px 0;
  
}
.booking::before {
    content: "";
    position: absolute;
    top: 50%;
    width:100%;
    height: 4px;
    background: #2f2f40; 
    transform: translateY(-50%);
    z-index: 0;
}
.stepsbtn {
  background:#2f2f40;
  position: relative;
  z-index:2;
  border:none;
  padding:.6rem 1rem;
  color:#777;
  border-radius:18px;
  font-weight:600;
  cursor:not-allowed;       /* default: disabled */
  
  
}
.stepsbtn.default {
  background:#7a5cff;
  color:#fff;
  cursor:pointer;
  opacity:1;
}
.step-btn.enabled {
  background:#3b3b4f;
  color:#ccc;
  cursor:pointer;
  opacity:1;
}
.step-content {
  display:none;
  background:#1a1a24;
  padding:1.5rem;
  border-radius:10px;
  max-width:720px;
  margin:auto;
  
}
.step-content.default {
  display:block;
  animation:fade .25s ease;
  
}

.next {
  margin-top:1rem;
  padding:.6rem 1rem;
  background:#7a5cff;
  border:none;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}
.box1{
   
   width:50%;
   padding:20px;

}
.box2{
    width:50%;
    padding:20px;
    overflow-y: auto;
   
   
}

#movie{
     display: flex;
    flex-wrap: wrap;
    gap: 20px;               
    justify-content: center; 
    
}
.movie-card{
    width:250px;
    flex: 0 0 250px;
    height: 428px;
}
.booking-rating-overlay {

    top: calc(428px - 113px);/*overlay has same osas men styles just the position gher */
}

 @media (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  .box1,
  .box2 {
    width: 100%;
    height: auto;
  }

  #movie {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
  }
}
/* phones */
@media (max-width: 600px) {
  #movie {
    grid-template-columns: repeat(1, 1fr); /* 1 per row */
  }
} 
/* selectosas */

/* step5 */
#reserveBtn:disabled {
    background:#555;
    opacity:.5;
    cursor:not-allowed;
}

/*step 4*/

*::-webkit-scrollbar{
    display:none;
}

.container{
   border: 4px solid rgba(255,255,255,0.05); 
   border-radius: 10px;
   height: 550px;
   width:100%;
   max-width: 100%;
   padding:1.5rem;
   display:flex;
   flex-direction: column;
   align-items: flex-start;
    overflow-x: auto;
}
.front-screen{
    margin:0 auto;
    width: 580px;

}

.screen{
    background-color: white;
    width: calc(100% -8.5rem);
    height:10px;
    margin: 0 auto;
    border-radius: 50% 50% 0 0;
    position: relative;
}

.overlay{
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
    margin: 0 auto;
    width:80%;
    height: 50px;
    clip-path: polygon(4.2rem 0%, 25.1rem 0%, 100% 100%,0 100%);
}

.seats{
    flex:1;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.front-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}
.middle-row{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    gap:1rem;
}

.seat{
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    height:20px;
    width: 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.seat.reserved{
    cursor:not-allowed;

}
.legend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin:0 auto;
}

.legend>div{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap:0.5rem;
}
.legend .seat{
    pointer-events: none;
}

.selected{
    background-color: #9195f8;

}
.reserved{
    background-color: white;
}
.selectoptions {
    all: initial !important;          /* RESET EVERYTHING LA2AN STYLES.CSS IS OVERRIDING*/
    font-family: inherit !important;  /* restore font */
    box-sizing: border-box !important;
    width: 100% !important;
    padding: 12px 14px !important;
    background: #1a1a24 !important;
    color: white !important;
    border: 2px solid #7a5cff !important;
    border-radius: 10px !important;
    cursor: pointer !important;
}
#dateselect::-webkit-calendar-picker-indicator { /*lal calendar icon*/
    filter: invert(1); 
    cursor: pointer;
}
/* step5 */
#step5.step-content.default{
     display: flex;
    flex-direction: column;
    gap: 1rem;        /* spacing between inputs */
    align-items: flex-start;   /* or center, if you want centered */
}
#step5 input{
    width: 100% !important;
    padding: 12px 14px !important;
    background: #1a1a24 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    cursor: pointer !important;
}
#step5 input:focus{
    border: 2px solid #7a5cff !important;
    outline: none;
}
.showtimes {
    background-color: #4f3cdf;
    margin-top: 6px;
    font-size: 15px;
    color: #c9c4ff;
    text-align: center;
    letter-spacing: 0.5px;
}
#confirmbtn:disabled {
  background-color: #888;    
  cursor: not-allowed;
  opacity: 0.7;
}