:root {
    --dark-bg: #10101a; 
    --main-dark: #1e1e2d; 
    --accent-purple: #8a2be2; 
    --text-color: #f0f0f0;
    --card-hover: #2a2a3e;
    --accent: #7765fa;
    --cards-per-view: 8;  /* how many cards visible at once */
    --card-gap: 1rem;     /* space between cards */
    --card-height: 300px; /* poster height */
    --card-radius: 14px;
}
.Profile-container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  /* min-height: calc(100vh-100px); */
}

.profile-banner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.profile-banner img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.profile-info h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.profile-info p {
  margin: 4px 0;
  font-size: 16px;
}.watchlist-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.watch-card {
  width: 150px;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px #0004;
}

.watch-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.watch-card h4 {
  font-size: 16px;
  margin: 8px 0 4px;
}

.watch-card p {
  margin: 3px 0;
  font-size: 14px;
}

.remove-btn {
  margin-top: 6px;
  width: 100%;
  padding: 5px;
  background:  #5f10a0;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background: linear-gradient(135deg, rgba(122, 21, 97, 0.678), var(--accent));
}